<?xml version="1.0"?>
<config>
    <frontend>
        <routers>
            <vendors>
				<args>
					<modules>
						<vendorsmessage before="VES_Vendors">VES_VendorsMessage</vendorsmessage>
					</modules>
				</args>
			</vendors>
			<customer>
				<args>
					<modules>
						<vendorsmessage before="VES_Vendors">VES_VendorsMessage_Customer</vendorsmessage>
					</modules>
				</args>
			</customer>
        </routers>
        <layout>
            <updates>
                <vendorsmessage>
                    <file>ves_vendors/message.xml</file>
                </vendorsmessage>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsMessage>
                    <files>
                        <default>ves_vendors/message.csv</default>
                    </files>
                </VES_VendorsMessage>
            </modules>
        </translate>
        <events>
        	<ves_vendorspage_profile_prepare>
				<observers>
					<vendorsmessage>
						<type>singleton</type>
						<class>vendorsmessage/observer</class>
	                    <method>ves_vendorspage_profile_prepare</method>
					</vendorsmessage>
				</observers>
			</ves_vendorspage_profile_prepare>
    	</events>
    </frontend>
    <admin>
       <routers>
		<adminhtml>
			<args>
				<modules>
					<vendorsmessage before="Mage_Adminhtml">VES_VendorsMessage_Adminhtml</vendorsmessage>
				</modules>
			</args>
		</adminhtml>
       </routers>
   	</admin>
	<adminhtml>
		<menu>
			<vendors module="vendors" translate="title">
				<children>
					<message module="vendorsmessage" translate="title">
						<title>Message</title>
						<sort_order>40</sort_order>
						<children>
							<inbox>
								<title>Inbox</title>
								<sort_order>10</sort_order>
								<action>adminhtml/vendors_message/inbox</action>
							</inbox>
							<outbox>
								<title>Outbox</title>
								<sort_order>20</sort_order>
								<action>adminhtml/vendors_message/outbox</action>
							</outbox>
							<trash>
								<title>Trash</title>
								<sort_order>30</sort_order>
								<action>adminhtml/vendors_message/trash</action>
							</trash>
						</children>
					</message>
				</children>
			</vendors>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<vendors>
							<children>
								<message module="vendorsmessage" translate="title">
									<title>Message</title>
									<sort_order>40</sort_order>
									<children>
										<inbox>
											<title>Inbox</title>
											<sort_order>10</sort_order>
											<action>adminhtml/vendors_message/inbox</action>
										</inbox>
										<outbox>
											<title>Outbox</title>
											<sort_order>20</sort_order>
											<action>adminhtml/vendors_message/outbox</action>
										</outbox>
										<trash>
											<title>Trash</title>
											<sort_order>30</sort_order>
											<action>adminhtml/vendors_message/trash</action>
										</trash>
									</children>
								</message>
							</children>
						</vendors>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<vendorsmessage>
					<file>ves_vendors/messages.xml</file>
				</vendorsmessage>
			</updates>
		</layout>
		<translate>
            <modules>
                <VES_VendorsMessage>
                    <files>
                        <default>ves_vendors/message.csv</default>
                    </files>
                </VES_VendorsMessage>
            </modules>
        </translate>
	</adminhtml>
	<vendors>
		<group_options>
			<message module="vendorsmessage">
				<title>Message</title>
				<sort_order>30</sort_order>
				<fields>
					<enabled>
						<label>Enable Message Feature</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>10</sort_order>
					</enabled>
				</fields>
			</message>
		</group_options>
	</vendors>
    <global>
		<template>
            <email>
                <vendors_message_notification_email_template translate="label" module="vendorscredit">
                    <label>Vendor - Message Notification</label>
                    <file>ves_vendors/message_notification.html</file>
                    <type>html</type>
                </vendors_message_notification_email_template>
            </email>
        </template>
        <models>
             <vendorsmessage>
                <class>VES_VendorsMessage_Model</class>
                <resourceModel>vendormessage_resource</resourceModel>
            </vendorsmessage>
            <vendormessage_resource>
                <class>VES_VendorsMessage_Model_Resource</class>
                <entities>
                	<msgbox>
                        <table>ves_vendor_message_box</table>
                    </msgbox>
                    <message>
                        <table>ves_vendor_message</table>
                    </message>
                </entities>
           	</vendormessage_resource>
        </models>

        <resources>
	        <vendormessage_setup>
	            <setup>
	                <module>VES_VendorsMessage</module>
	                <class>VES_VendorsMessage_Model_Resource_Setup</class>
	            </setup>
	        </vendormessage_setup>
	    </resources>

        <blocks>
            <vendorsmessage>
                <class>VES_VendorsMessage_Block</class>
            </vendorsmessage>
        </blocks>
        <helpers>
            <vendorsmessage>
                <class>VES_VendorsMessage_Helper</class>
            </vendorsmessage>
        </helpers>
    </global>
    <default>
    	<vendors>
    		<message>
    			<enable_editor>1</enable_editor>
    			<notification_email_template>vendors_message_notification_email_template</notification_email_template>
    			<email_identity>general</email_identity>
    		</message>
    	</vendors>
    </default>
</config>