<?xml version="1.0"?>
<config>
    <modules>
        <VES_VendorsConfig>
            <version>1.0.0.0</version>
        </VES_VendorsConfig>
    </modules>
    <frontend>
        <routers>
            <vendors>
				<args>
					<modules>
						<vendorsconfig before="VES_Vendors">VES_VendorsConfig</vendorsconfig>
					</modules>
				</args>
			</vendors>
        </routers>
        <layout>
            <updates>
                <vendorsconfig>
                    <file>ves_vendors/config.xml</file>
                </vendorsconfig>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsConfig>
                    <files>
                        <default>ves_vendors/config.csv</default>
                    </files>
                </VES_VendorsConfig>
            </modules>
        </translate>
    </frontend>
	<adminhtml>
		<layout>
			<updates>
				<vendorsconfig>
					<file>ves_vendors/config.xml</file>
				</vendorsconfig>
			</updates>
		</layout>
		<translate>
            <modules>
                <VES_VendorsConfig>
                    <files>
                        <default>ves_vendors/config.csv</default>
                    </files>
                </VES_VendorsConfig>
            </modules>
        </translate>
	</adminhtml>
    <global>
    	<events>
			
    	</events>

        <models>
             <vendorsconfig>
                <class>VES_VendorsConfig_Model</class>
                <resourceModel>vendorconfig_resource</resourceModel>
            </vendorsconfig>
            <vendorconfig_resource>
                <class>VES_VendorsConfig_Model_Resource</class>
                <entities>
                    <config>
                        <table>ves_vendor_config</table>
                    </config>
                </entities>
           	</vendorconfig_resource>
        </models>

        <resources>
	        <vendorconfig_setup>
	            <setup>
	                <module>VES_VendorsConfig</module>
	                <class>VES_VendorsConfig_Model_Resource_Setup</class>
	            </setup>
	        </vendorconfig_setup>
	    </resources>

        <blocks>
            <vendorsconfig>
                <class>VES_VendorsConfig_Block</class>
            </vendorsconfig>
        </blocks>
        <helpers>
            <vendorsconfig>
                <class>VES_VendorsConfig_Helper</class>
            </vendorsconfig>
        </helpers>
    </global>
    <vendor_config>
    	<main>
    	</main>
    </vendor_config>
</config>