<?xml version="1.0"?>
<config>
    <modules>
        <VES_VendorsDashboard>
            <version>1.0.0.0</version>
        </VES_VendorsDashboard>
    </modules>
   	<frontend>
        <routers>
            <vendors>
				<args>
					<modules>
						<vendorsdashboard before="VES_Vendors">VES_VendorsDashboard</vendorsdashboard>
					</modules>
				</args>
			</vendors>
        </routers>
        <translate>
            <modules>
                <VES_VendorsDashboard>
                    <files>
                        <default>ves_vendors/dashboard.csv</default>
                    </files>
                </VES_VendorsDashboard>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<layout>
			<updates>
				<vendorsdashboard>
					<file>ves_vendors/dashboard.xml</file>
				</vendorsdashboard>
			</updates>
		</layout>
		<translate>
            <modules>
                <VES_VendorsDashboard>
                    <files>
                        <default>ves_vendors/dashboard.csv</default>
                    </files>
                </VES_VendorsDashboard>
            </modules>
        </translate>
    </adminhtml>
    <vendors>
    	<menu>
    		<dashboard module="vendorsdashboard" translate="title">
    			<title>Dashboard</title>
    			<frontend_class>dashboard</frontend_class>
    			<sort_order>0</sort_order>
    			<action>vendors/dashboard/</action>
    		</dashboard>
		</menu>
    </vendors>
    <global>
        <models>
            <vendorsdashboard>
                <class>VES_VendorsDashboard_Model</class>
            </vendorsdashboard>
        </models>
        <blocks>
            <vendorsdashboard>
                <class>VES_VendorsDashboard_Block</class>
            </vendorsdashboard>
        </blocks>
        <helpers>
            <vendorsdashboard>
                <class>VES_VendorsDashboard_Helper</class>
            </vendorsdashboard>
        </helpers>
    </global>
    <default>
    	<vendors>
    		<vendorsdashboard>
    			
    		</vendorsdashboard>
    	</vendors>
    </default>
</config>