<?xml version="1.0"?>
<config>
    <modules>
        <VES_VendorsSales>
            <version>1.0.0.0</version>
        </VES_VendorsSales>
    </modules>
   	<frontend>
        <routers>
            <vendors>
				<args>
					<modules>
						<vendorssales before="VES_Vendors">VES_VendorsSales</vendorssales>
					</modules>
				</args>
			</vendors>
        </routers>
        <layout>
            <updates>
                <vendorssales>
                    <file>ves_vendors/sales.xml</file>
                </vendorssales>
            </updates>
        </layout>
        <translate>
            <modules>
                <VES_VendorsSales>
                    <files>
                        <default>ves_vendors/fsales.csv</default>
                    </files>
                </VES_VendorsSales>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<layout>
			<updates>
				<vendorssales>
					<file>ves_vendors/sales.xml</file>
				</vendorssales>
			</updates>
		</layout>
		<translate>
            <modules>
                <VES_VendorsSales>
                    <files>
                        <default>ves_vendors/sale.csv</default>
                    </files>
                </VES_VendorsSales>
            </modules>
        </translate>
    </adminhtml>
    <vendors>
    	<menu>
    		<sales module="vendorssales">
    			<title>Sales</title>
    			<frontend_class>sales</frontend_class>
    			<sort_order>10</sort_order>
    			<children>
    				<orders module="vendorssales" translate="title">
	    				<title>Orders</title>
		    			<sort_order>10</sort_order>
		    			<action>vendors/sales_order/</action>
	    			</orders>
	    			<invoices module="vendorssales" translate="title">
	    				<title>Invoices</title>
		    			<sort_order>20</sort_order>
		    			<action>vendors/sales_invoice/</action>
	    			</invoices>
	    			<shipments module="vendorssales" translate="title">
	    				<title>Shipments</title>
		    			<sort_order>30</sort_order>
		    			<action>vendors/sales_shipment/</action>
	    			</shipments>
	    			<creditmemos module="vendorssales" translate="title">
	    				<title>Credit Memos</title>
		    			<sort_order>40</sort_order>
		    			<action>vendors/sales_creditmemo/</action>
	    			</creditmemos>
    			</children>
    		</sales>
		</menu>
    </vendors>
    <global>
    	<template>
            <email>
                <vendors_sales_order_new_template translate="label" module="vendorscredit">
                    <label>Vendor - Order New</label>
                    <file>ves_vendors/order_new.html</file>
                    <type>html</type>
                </vendors_sales_order_new_template>
            </email>
        </template>
    	<events>
    		<checkout_submit_all_after>
    			<observers>
                    <vendorssales>
                        <type>singleton</type>
                        <class>vendorssales/observer</class>
                        <method>checkout_submit_all_after</method>
                    </vendorssales>
                </observers>
    		</checkout_submit_all_after>
    		<ves_vendor_menu_check_acl>
    			<observers>
                    <vendorssales>
                        <type>singleton</type>
                        <class>vendorssales/observer</class>
                        <method>ves_vendor_menu_check_acl</method>
                    </vendorssales>
                </observers>
    		</ves_vendor_menu_check_acl>
    		<sales_order_save_before>
                <observers>
                    <vendorssales>
                        <type>singleton</type>
                        <class>vendorssales/observer</class>
                        <method>sales_order_save_before</method>
                    </vendorssales>
                </observers>
	         </sales_order_save_before>
	         <sales_order_invoice_save_before>
                <observers>
                    <vendorssales>
                        <type>singleton</type>
                        <class>vendorssales/observer</class>
                        <method>sales_order_invoice_save_before</method>
                    </vendorssales>
                </observers>
	         </sales_order_invoice_save_before>
	         <sales_order_invoice_save_after>
                <observers>
                    <vendorssales>
                        <type>singleton</type>
                        <class>vendorssales/observer</class>
                        <method>sales_order_invoice_save_after</method>
                    </vendorssales>
                </observers>
	         </sales_order_invoice_save_after>
	         <sales_order_shipment_save_before>
	         	<observers>
                    <vendorssales>
                        <type>singleton</type>
                        <class>vendorssales/observer</class>
                        <method>sales_order_shipment_save_before</method>
                    </vendorssales>
                </observers>
	         </sales_order_shipment_save_before>
	         <sales_order_creditmemo_save_before>
	         	<observers>
                    <vendors>
                        <type>singleton</type>
                        <class>vendorssales/observer</class>
                        <method>sales_order_creditmemo_save_before</method>
                    </vendors>
                </observers>
	         </sales_order_creditmemo_save_before>
    	</events>
        <models>
            <vendorssales>
                <class>VES_VendorsSales_Model</class>
            </vendorssales>
		      <sales>
                <rewrite>
                    <quote_item>VES_VendorsSales_Model_Quote_Item</quote_item>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <vendorssales>
                <class>VES_VendorsSales_Block</class>
            </vendorssales>
            <adminhtml>
            	<rewrite>
            		<sales_order_grid>VES_VendorsSales_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
            	</rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <vendorssales>
                <class>VES_VendorsSales_Helper</class>
            </vendorssales>
        </helpers>
    </global>
    <default>
    	<vendors>
    		<sales>
    			<view_order_comments>1</view_order_comments>
    			<send_order_comments>1</send_order_comments>
    			<view_payment_info>0</view_payment_info>
    			<view_addresses>1</view_addresses>
    			<view_invoices>0</view_invoices>
				 <view_hold>0</view_hold>
                <view_cancel>0</view_cancel>
    			<view_creditmemo>0</view_creditmemo>
    			<order_new_enable>1</order_new_enable>
    			<order_new_template>vendors_sales_order_new_template</order_new_template>
    			<email_identity>general</email_identity>
    		</sales>
    	</vendors>
    </default>
</config>