<?xml version="1.0"?>
<config>
    <modules>
        <VES_VendorsImage>
            <version>0.1.0</version>
        </VES_VendorsImage>
    </modules>
    <frontend>
        <routers>
            <vendors>
				<args>
					<modules>
						<vendorsimage before="VES_Vendors">VES_VendorsImage_Vendor</vendorsimage>
					</modules>
				</args>
			</vendors>
        </routers>
    </frontend>
    <admin>
        <routers>
			<vendorsimage>
				<use>admin</use>
				<args>
					<module>VES_VendorsImage</module>
					<frontName>vendorsimage</frontName>
				</args>
			</vendorsimage>
        </routers>
    </admin>
    <adminhtml>
    	<layout>
			<updates>
				<vendorsimage>
					<file>ves_vendors/image.xml</file>
				</vendorsimage>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <vendorsimage>
                <class>VES_VendorsImage_Model</class>
                <resourceModel>vendorsimage_mysql4</resourceModel>
            </vendorsimage>
        </models>
        <resources>
            <vendorsimage_setup>
                <setup>
                    <module>VES_VendorsImage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorsimage_setup>
            <vendorsimage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorsimage_write>
            <vendorsimage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorsimage_read>
        </resources>
        <blocks>
            <vendorsimage>
                <class>VES_VendorsImage_Block</class>
            </vendorsimage>
        </blocks>
        <helpers>
            <vendorsimage>
                <class>VES_VendorsImage_Helper</class>
            </vendorsimage>
        </helpers>
    </global>
    
    <default>
    	<vendors>
	    	<catalog>
	    		<enable_upload_image>1</enable_upload_image>
	    	</catalog>
    	</vendors>
    </default>
    
</config>